
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Start Location</label>
          <div class="col-sm-5">
            <select ng-model="ctrl.start" class="custom-select">
              <option ng-repeat="option in ctrl.villages" ng-value="option">{{option.name}}</option>
            </select>
          </div>
        </div>

      <div class="custom-control custom-checkbox mt-1">
        <input type="checkbox" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">Only go final destination once (at the end).</label>
      </div>

      <div class="custom-control custom-checkbox mt-1">
        <input type="checkbox" class="custom-control-input" id="customCheck2" ng-model="ctrl.dustbin_filter">
        <label class="custom-control-label" for="customCheck2">Limit dustbins to: </label>

        <div ng-repeat="dustbin in (ctrl.dustbins | add_one_if : ctrl.dustbins.length != ctrl.villages.length)" class="d-inline-block ml-1">
          <select ng-model="ctrl.refer(ctrl.dustbins, $index, null).val" class="custom-select custom-select-sm">
            <option ng-value="null">Select...</option>
            <option ng-repeat="option in ctrl.villages | no : 'name' : ctrl.dustbins : 'name' : dustbin.name" ng-value="option">{{option.name}}</option>
          </select>
        </div>
      </div>

      <div class="custom-control custom-checkbox mt-1">
        <input type="checkbox" class="custom-control-input" id="customCheck3" ng-model="ctrl.after_enabled">
        <label class="custom-control-label" for="customCheck3">After <input type="text" ng-model="ctrl.after" style="text-align:center;display:inline-block;width:50px" class="form-control form-control-inline form-control-sm"> iterations, new dustbins appears on: </label>

        <div ng-repeat="dustbin in (ctrl.after_dustbins | add_one_if : ctrl.after_dustbins.length != ctrl.villages.length)" class="d-inline-block ml-1">
          <select ng-model="ctrl.refer(ctrl.after_dustbins, $index, null).val" class="custom-select custom-select-sm">
            <option ng-value="null">Select...</option>
            <option ng-repeat="option in ctrl.villages | no : 'name' : ctrl.after_dustbins : 'name' : dustbin.name" ng-value="option">{{option.name}}</option>
          </select>
        </div>
      </div>


      <div class="custom-control custom-checkbox mt-1">
        <input type="checkbox" class="custom-control-input" ng-model="ctrl.force_weigth_enabled" id="customCheck4" disabled>
        <label class="custom-control-label" for="customCheck4">Force weigth: <input type="text" ng-model="ctrl.force_weigth" style="text-align:center;display:inline-block;width:60px" class="form-control form-control-inline form-control-sm" disabled> KG.</label>
      </div>


</div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a href class="btn btn-primary mt-3" ng-click="ctrl.calc()">Calculate</a>
    </div>
  </div>
  <div class="row mt-3 mb-3" ng-if="ctrl.result">
    <div class="col-md-12">
      <h3>Most Optimal Route</h3>
      <p>Finding it took {{ ctrl.result.time | number : 0 }}ms</p>
      <ol>
        <li ng-repeat="l in ctrl.result.locations track by $index">
         {{ $first ? "Starting from " : $last ? "Final destination" : l.dump ? "Going to" : "Passing by" }} <span class="buble">{{ l.name }}</span> <span class="road" ng-if="l.total_cost">road <b>{{ l.total_cost / 1000 | number : 2 }} km</b><b ng-if="l.cost"> (+{{ l.cost / 1000 | number : 2 }} km)</b></span> <span class="dump" ng-if="l.total_dump">dump <b>{{ l.total_dump || 0 }} kg<span ng-if="l.dump"> (+{{ l.dump }} kg)</span></b></span></li>
      </ol>
    </div>
  </div>
</div>
